{{#if this.show}}
  <div 
    class="fixed inset-0 bg-black bg-opacity-90 flex items-center justify-center z-50"
    {{on "click" this.close}}
    {{on "keydown" this.handleKeydown}}
  >
    <div class="relative max-w-full max-h-full p-4">
      <button
        type="button"
        {{on "click" this.close}}
        class="absolute top-2 right-2 text-white text-3xl font-bold hover:text-gray-300 z-10"
      >
        &times;
      </button>
      <p class="text-white text-center text-sm mb-2">1200 x 1600</p>
      <img 
        src={{this.imageUrl}} 
        alt="Full preview" 
        class="max-w-[1200px] max-h-[1600px] object-contain"
      />
    </div>
  </div>
{{/if}}